.container-center {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    font-size: 12px;
}

.login {
    background-color: #eaeaec;
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.login-area {
    display: flex;
    justify-content: center;
    background-color: #000;
    width: 100%;
}

.login-area img {
    padding: 20px;
    width: 400px;
    height: 210px;
}

.login input {
    margin-bottom: 15px;
    height: 20px;
    width: 65%;
    border: 0;
    border-radius: 7px;
    padding: 10px;
    font-size: 15px;
    background-color: #fff;
}

button {
    height: 35px;
    width: 70%;
    border: 0;
    border-radius: 7px;
    background-color: #000;
    color: #eaeaec;
    font-size: 1.5em;
    margin-bottom: 10px;
}

label {
    font-size: 20px;
    color: #eaeaec;
    text-align: center;
    padding: 0;
}

li {
    font-size: 18px;
    color: #eaeaec;
    text-align: center;
    display: flex;
}

ul {
    list-style-type: none;
}

.list {
    display: flex;
    flex-direction: column;
    border-radius: 4%;
    font-size: 10px;
    background-color: #000;
    margin: 20px;
    padding: 20px;
    line-height: 3em;
    min-width: 300px;
    height: 450px;
    overflow-y: auto;
}

.render {
    margin-top: 40px;
}

::-webkit-scrollbar-track {
    background-color: #000;
}

::-webkit-scrollbar {
    border-radius: 50%;
    width: 0;
    background: #000;
}

.message {
    font-size: 20px;
    width: 200px;
    animation: digitando 3s steps(25), 4s infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    padding-top: 20px;
    padding-bottom: 20px;
}

@keyframes digitando {
    from {
        width: 0;
    }
}
